.container
  #medicines
    = render "medicine"
    = render "medicine"
    = render "medicine"
    = render "medicine"

  = link_to "Add new medicine", "javascript:;", id: "addNewMed", class: "btn btn-info"
  %button.btn.btn-danger{onclick: "window.location.reload()"}
    %span.glyphicon.glyphicon-repeat
    Reset

  %br
  %p
    TOTAL:
    %span.total
      0

  %br
  %br

  #new_med_form{ style: 'display: none;' }
    = render "medicine"