.container
  #medicines
    = render "medicine"
    = render "medicine"
    = render "medicine"
    = render "medicine"

  = link_to "Add new medicine", "javascript:;", id: "addNewMed"
  %br
  %p.total
    TOTAL!

  #new_med_form{ style: 'display: none;' }
    = render "medicine"