.container
  #medicines
    = render "medicine"
    = render "medicine"
    = render "medicine"
    = render "medicine"

  = link_to "Add new medicine", "javascript:;", id: "addNewMed"
  %br
  %p
    TOTAL:
    %span.total
      0

  %button.btn.btn-info{onclick: "window.location.reload()"}
    %span.glyphicon.glyphicon-repeat
    Reset
  %br
  %br

  #new_med_form{ style: 'display: none;' }
    = render "medicine"