.container
  .left-hand-side.col-xs-12.col-md-4
    #medicines
      = render "medicine"
      = render "medicine"
      = render "medicine"

    #buttons-block
      = link_to "javascript:;", id: "addNewMed", class: "btn btn-info", style: "margin-right: 5px" do
        %span.glyphicon.glyphicon-plus
        Add new medicine
      = link_to "javascript:;", id: "resetMeds", class: "btn btn-danger" do
        %span.glyphicon.glyphicon-repeat
        Reset
    #results-block
      .result-box
        %span.result-table-heading
          Total ACB Score:
        %span.total.result-table-values#total
          0
        %span#high-risk-warning
          High Risk
      .result-box#high-risk-info
        %p
          Your patient has scored ≥3 and is therefore at a higher risk of confusion, falls and death.
        %p
          Please review their medications and, if possible, discuss this with the patient and/or relatives/carers. Please consider if any of these medications could be switched to a lower-risk alternative.
        %p
          For help choosing medicines to reduce anticholinergic burden,
          = link_to "click here", "/pages/reducing"

  .right-hand-side.col-xs-12.col-md-8
    = render "info"

#new_med_form{ style: 'display: none;' }
  = render "medicine"
