.container
  .left-hand-side.col-xs-12.col-md-4
    #medicines

    #buttons-block
      = link_to "javascript:;", id: "addNewMed", class: "btn btn-info", style: "margin-right: 5px" do
        %span.glyphicon.glyphicon-plus
        Add new medicine
      = link_to "javascript:;", id: "resetMeds", class: "btn btn-danger" do
        %span.glyphicon.glyphicon-repeat
        Reset
    #results-block
      .result-box
        %span.result-table-heading
          Total ACB Score:
        .total.result-table-values
          %span.number--zero#total
            0
        %span#high-risk-warning
          High Risk
      .result-box#high-risk-info
        %p
          Your patient has scored ≥3 and is therefore at a higher risk of confusion, falls and death.
        %p
          Please review their medications and, if possible, discuss this with the patient and/or relatives/carers. Please consider if any of these medications could be switched to a lower-risk alternative.
        %p
          For help choosing medicines to reduce anticholinergic burden,
          = link_to "click here", "/pages/reducing"
      .small
        When consulting the literature, there are discrepancies between the numerical anticholinergic burden assigned to different medications. In the interest of patient safety, we have opted for the higher burden scores in these instances.

  .right-hand-side.col-xs-12.col-md-8
    = render "info"

#new_med_form{ style: 'display: none;' }
  = render "medicine"

:javascript
  add_new_med(3);
