.container
  #medicines
    = render "medicine"
    = render "medicine"
    = render "medicine"
    = render "medicine"

  = link_to "Add new medicine", "javascript:;", id: "addNewMed"
  %br
  %p
    TOTAL:
    %span.total
      0

  #new_med_form{ style: 'display: none;' }
    = render "medicine"