%nav.navbar.navbar-default
  .container
    .container-fluid
      .navbar-header
        %button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        .navbar-brand
          = link_to root_path do
            .logo
              = image_tag "logo.png", class: "logo"
            .brand-name
              %p.brand-name-large
                ACB
              %p.brand-name-small
                calculator

      .collapse.navbar-collapse#navbar-collapse-1
        %ul.nav.navbar-nav.navbar-right
          %li
            - if [root_path, "/welcome/index"].include? request.path
              = link_to "Home", root_path, style: "color: #BBB"
            - else
              = link_to "Home", root_path
          %li
            - if request.path.include? "/pages"
              = link_to "About ACB", "/pages/about", style: "color: #BBB"
            - else
              = link_to "About ACB", "/pages/about"
          %li
            - if request.path.include? "/medicines"
              = link_to "Medicines Scorecard", medicines_path, style: "color: #BBB"
            - else
              = link_to "Medicines Scorecard", medicines_path
          - if user_signed_in?
            %li
              - if request.path == edit_user_registration_path
                = link_to "Change Password", edit_user_registration_path, style: "color: #BBB"
              - else
                = link_to "Change Password", edit_user_registration_path
            %li
              = link_to "Logout", destroy_user_session_path, method: :delete
          - else
            %li
              - if request.path == new_user_session_path
                = link_to "Admin login", new_user_session_path, style: "color: #BBB"
              - else
                = link_to "Admin login", new_user_session_path
