!!! 5
%html{ manifest: "/application.manifest" }
  %head
    %title
      ACB Calculator
    %meta{:name => "description", :content => "A tool for finding the ACB Score of commonly prescribed medicines, and for calculating the Anticholinergic Burden for your patient"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %link{ rel: 'manifest', href: 'webapp/manifest.json' }
    %meta{ content: 'yes', name: 'apple-mobile-web-app-capable'}
    %meta{ content: 'ACB Calc', name: 'apple-mobile-web-app-title' }
    %link{ href: '/apple-touch-icon.png', rel: 'apple-touch-icon' }
  %body
    .page-row.page-row-expanded
      = render 'layouts/navbar'
      - flash.each do |name, msg|
        = content_tag :div, msg, class: [:alert, alert_for(name)]
      = yield
    .page-row
      %footer.navbar.navbar-default
        = render 'layouts/footer'
